@import "./theme/charcoal.css";

html {
  min-height: 100vh;
  background: linear-gradient(45deg, #232B2E, #191E21);

}

html, input {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
}

.cgui-muted {
  color: #CCCCCC;
}

.cgui {
  padding: 1rem;
}

.cgui-container {
  padding: 1rem;
}




.cgui-command {
  @extend input;
  margin-bottom: 1rem;
  padding: .5rem;
  width: 100%;
}

.cgui-left {
  @extend component;
  margin-bottom: 1rem;
  margin-right: 5rem;
  padding: 2rem 1rem;
}

.cgui-right {
  @extend component;
  margin-bottom: 1rem;
  margin-left: 5rem;
  padding: 2rem 1rem;
}
